<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Exercise Two - Server-side cookies</title>
</head>

<body>
<nav>  
<p>Nav Bar</p>
</nav>
<main>
{{{body}}}
</main>
<footer>
<p>abin733</p>
</footer>
</body>

</html>