<section>
    <h1>Get candidate by skill:</h1>
    <form action="./getskill" method="GET">
        <label for="skill">Please enter a skill:</label>
        <input type="text" name="skill">
        <button type="submit">Get</button>
    </form>
</section>
<section>
    <h1>Get candidate by years of experience:</h1>
    <form action="./getyear" method="GET">
        <label for="yearLow">Lowest:</label>
        <input type="text" name="yearLow">
        <label for="yearHigh">Highest:</label>
        <input type="text" name="yearHigh">
        <button type="submit">Get</button>
    </form>
</section>
<section>
    <h1>Get candidate by country:</h1>
    <form action="./getskill" method="GET">
            <label for="country">Country</label>
            <select name="country" id="country">
                {{#each countries}}
                <option value={{this}}>{{this}}</option>
                {{/each}}
            </select>
            <br>
            <input type="submit" value="Submit" />
        <button type="submit">Get</button>
    </form>
</section>


