<section>
    <h1>Get skill by name:</h1>
    <form action="./getskill" method="GET">
        <label for="skill">Please enter a skill by name:</label>
        <input type="text" name="skill">
        <button type="submit">Get</button>
    </form>
</section>
